logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/node_modules
*.swp
*.swo
.DS_Store

node_modules
bower_components
temp

conf/local.conf

public/javascripts/vendors
public/javascripts/app.*.min.js

public/stylesheets/fonts/vendors
public/stylesheets/vendors
public/stylesheets/app.*.min.css
public/stylesheets/app.css
